body {
	background-color: #333;
	color: #fff;
}
table {
	background-color: #444;
	width: 200mm;
	border: 2px solid #555;
}
th {
	cursor: pointer;
}
/*tr:nth-child(even) {
	background-color: #555;
}*/
.item {
	width: 99%;
}
